<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip"/>
  <package id="7zip.install"/>
  <package id="brave"/>
  <package id="chocolatey"/>
  <package id="chocolatey-core.extension"/>
  <package id="chocolatey-dotnetfx.extension"/>
  <package id="chocolatey-windowsupdate.extension"/>
  <package id="ConEmu"/>
  <package id="discord"/>
  <package id="discord.install"/>
  <package id="dotnet4.6.2"/>
  <package id="dotnet4.7.2"/>
  <package id="dotnetfx"/>
  <package id="dropbox"/>
  <package id="ffmpeg"/>
  <package id="fluent-terminal"/>
  <package id="foobar2000"/>
  <package id="git.install" packageParameters="/NoGuiHereIntegration /SChannel" />
  <package id="handle" />
  <package id="insideclipboard"/>
  <package id="KB2919355"/>
  <package id="KB2919442"/>
  <package id="krita"/>
  <package id="netfx-4.6.2"/>
  <package id="notion"/>
  <package id="nvm"/>
  <package id="nvm.portable"/>
  <package id="obs-studio"/>
  <package id="obs-studio.install"/>
  <package id="openhardwaremonitor"/>
  <package id="postman"/>
  <package id="PowerShell"/>
  <package id="pngcheck"/>
  <package id="procexp"/>
  <package id="procmon"/>
  <package id="rammap"/>
  <package id="screentogif"/>
  <package id="sharex"/>
  <package id="sublimetext3"/>
  <package id="vlc"/>
</packages>