[Desktop Entry]
Name=Obsidian
Icon=obsidian
Exec=/home/cobertos/bin/Obsidian-1.4.16.AppImage %u
Terminal=false
Type=Application
StartupWMClass=obsidian
X-AppImage-Version=1.4.16
Comment=Obsidian
Categories=Office;
MimeType=text/html;x-scheme-handler/obsidian;